# Annotations collector

### Demo on 10 files

This is a short guide on collecting annotations from a folder of EDF files. We have a test folder of 10 EDF files:

In [2]:
!ls test_folder

000219d2-ce5d-443d-bc37-aca049885776.edf
000ba10b-0f8c-4f11-badd-b20cb0f0de14.edf
000f454b-ef0b-49f1-9391-ac0ba5d074ff.edf
00209732-e4f3-42b8-9758-2423605f1fbf.edf
00282340-afbc-4c4e-8c07-4d489c3a3edd.edf
004a4e00-ec36-49a9-ac77-8ce16080a106.edf
0058fbe4-4e63-4e94-a999-588ac85783e0.edf
005964f5-acfb-4a30-9b4c-b8e79c65ca99.edf
005ac7d8-3a00-4203-ad1c-b6a358d6ac84.edf
006a360e-0fc0-4906-9989-5bc0e4b6797a.edf

First you need to get a package edf_annotations and import Collector class from it

In [1]:
from edf_annotations import Collector

By instantiating Collector class you need to provide path to folder with EDF files (with / at the end)

In [10]:
fpath = 'test_folder/'

col = Collector(fpath)

Running collect_annotations() will go through files metadata and collect all annotations into dataframe. This updates and returns object attribute "annotations_df"

In [11]:
col.collect_annotations()

,scan_id,annotations
0,004a4e00-ec36-49a9-ac77-8ce16080a106,[]
1,005964f5-acfb-4a30-9b4c-b8e79c65ca99,"[Eyes Closed, Eyes Open, Eyes Closed, head mid..."
2,006a360e-0fc0-4906-9989-5bc0e4b6797a,[]
3,000f454b-ef0b-49f1-9391-ac0ba5d074ff,"[Asleep, Tech will let pt sleep to start, Asle..."
4,000ba10b-0f8c-4f11-badd-b20cb0f0de14,"[HV Begin, HV End, good overall effort for 3mi..."
5,000219d2-ce5d-443d-bc37-aca049885776,"[Eyes Open, Eyes Closed, Post HV 30 Sec, Post ..."
6,00282340-afbc-4c4e-8c07-4d489c3a3edd,"[pt is confused, moving constantly , Eyes Clos..."
7,00209732-e4f3-42b8-9758-2423605f1fbf,"[notch=on, Gain/Filter Change, Gain/Filter Cha..."
8,005ac7d8-3a00-4203-ad1c-b6a358d6ac84,"[EC, MOVING, Drowsy, TOUCHING O1, Drowsy, Asle..."
9,0058fbe4-4e63-4e94-a999-588ac85783e0,"[Eyes Open, Eyes Closed, checj EKG jacks, Eye..."

Running count_annotations() method will combine all annotations into single array and count each annotation appearance:

In [12]:
col.count_annotations()

You can access all counts with count_df attribute:

In [13]:
col.count_df.head()

                 annot  count
0          Eyes Closed     29
1            Eyes Open     16
5               Drowsy     13
6               Asleep     11
10  Gain/Filter Change      7

Use method lookup_anntations() to find out frequency of annotations containing specific keywords. For example, this query will return you all annotations containing "HV"

In [14]:
col.lookup_annotation('HV')

             annot  count
25  Post HV 90 Sec      2
24  Post HV 60 Sec      2
23  Post HV 30 Sec      2
18          HV End      1
17        HV Begin      1

### Burnaby "HV"-annotations statistics

In [26]:
folder = "/home/mykolakl/projects/rpp-doesburg/databases/eeg_fha/release_001/edf/Burnaby/"

col = Collector(folder)

In [27]:
col.collect_annotations()

read failed

,scan_id,annotations
0,089ea613-ec8b-44dd-b026-2f397ff31680,"[Montage:Lab1---Ipsi. Ear Ref., Common..C, Mon..."
1,ae891b33-9e09-4adb-bf30-7a49549c9bc7,"[Start Recording, Montage:Lab1---Ipsi. Ear Ref..."
2,016ed921-7f08-4342-a74a-eb7a91a9eee8,"[Start Recording, Montage:Channel Test Referen..."
3,4e2784d3-4338-4974-8529-2e79cfa323c6,"[Start Recording, Montage:blank lines, AUX1, I..."
4,5f061942-7ecb-4e0d-8192-fc36d20a8081,"[Start Recording, Montage:Lab1---Ipsi. Ear Ref..."
...,...,...
7042,d0bf0296-273f-40f6-9105-27360738f703,"[Start Recording, Montage:Lab1---Ipsi. Ear Ref..."
7043,8dbcae60-ad68-4651-b3ac-f353628171c9,"[Montage:Lab1---Ipsi. Ear Ref., AUX1, Start Re..."
7044,0b13d17b-ce2d-4e5a-86a0-b0ab19886458,"[Start Recording, Montage:blank lines, AUX1, R..."
7045,bbf268f0-8b34-41d9-9dca-2e10491495fd,"[Start Recording, Montage:EEG32 - XLDetect, AU..."
7046,0fa33294-e71b-46af-98ef-4c559ef4399d,"[Start Recording, Montage:Lab1---Ipsi. Ear Ref..."

In [28]:
col.count_annotations()

In [29]:
col.count_df.head()

           annot  count
11   Eyes Closed  93604
28           Off  63500
6      Eyes Open  54240
14        Drowsy  27253
7   Head Midline  24975

In [30]:
col.count_df.to_csv("resulted_files/annotations_count_burnaby.csv")

Most frequent annotations with "HV" in Burnaby dataset

In [36]:
col.lookup_annotation('HV').head(30)

                      annot  count
41                  HV 1Min   3215
45           Post HV 30 Sec   3112
46           Post HV 60 Sec   3103
47           Post HV 90 Sec   3097
65                   HV2Min   1623
66                   End HV   1590
43                   HV End   1588
39                 HV Begin   1587
42                  HV 2Min   1532
687          explain HV now    132
198            HV 2 1/2 MIN     92
606            HV 1 1/2 MIN     84
605              HV 1/2 MIN     74
1440             explain HV     53
362                   no HV     51
1012      good effort in HV     32
174    INSTRUCTIONS FOR HV      28
2793             EXPLAIN HV     21
4413       no HV due to age     16
1950  ON TO BIPOLAR FOR HV      15
1886            explain HV      13
2709               2 1/2 HV     12
4685             stopped HV     11
751                 HV 4MIN     11
750                 HV 3MIN     11
3241                stop HV     11
2708               1 1/2 HV     11
3412          explaining HV     10
839             EXPLAIN HV      10
1075    pt refused to do HV      9

### Abbotsford "HV"-annotations statistics

In [3]:
folder = "/home/mykolakl/projects/rpp-doesburg/databases/eeg_fha/release_001/edf/Abbotsford/"

col = Collector(folder)

In [4]:
col.collect_annotations()

read failed

,scan_id,annotations
0,174dec9e-64e9-4bcc-ae1b-624bac5e973c,"[Start Recording, Montage:IPSI EAR REFERENCE, ..."
1,a621c16c-b71b-4c13-8037-6680494a07ad,"[Montage:DOUBLE BANANA, AUX1..Channel Sta, Mon..."
2,67f92b73-0b83-43dd-adef-f69bdaa201d4,"[Start Recording, Montage:IPSI EAR REFERENCE, ..."
3,35397805-146f-45c2-8bfb-f1470c90a814,"[Start Recording, Montage:IPSI EAR REFERENCE, ..."
4,709e87a4-fa55-4612-855a-d8acece170e8,"[Start Recording, Montage:IPSI EAR REFERENCE, ..."
...,...,...
14628,252a0d35-9798-489d-a052-29bbf375a981,"[Start Recording, Montage:IPSI EAR REFERENCE, ..."
14629,7c9f7692-984a-434e-a32c-810c8bc8f99e,"[Montage:DOUBLE BANANA, AUX1..Channel Sta, Sta..."
14630,c2b25ffc-5002-48ff-9553-a4a70cb64c4d,"[Start Recording, Montage:DOUBLE BANANA, AUX1...."
14631,a3e4cf14-4990-4f25-847b-2db801177cc9,"[Start Recording, Montage:DOUBLE BANANA, AUX1...."
14632,180e1cd3-7c9c-43fb-a97f-94a0fd49020a,"[Start Recording, Montage:DOUBLE BANANA, AUX1...."

In [5]:
col.count_annotations()

In [6]:
col.count_df.head()

          annot   count
2   Eyes Closed  287869
4     Eyes Open  170526
13     Movement  139518
7           Off  139101
45  Head Center   88217

In [7]:
col.count_df.to_csv("resulted_files/annotations_count_abbotsford.csv")

Most frequent annotations with "HV" in Abbodsfort dataset

In [8]:
col.lookup_annotation('HV').head(50)

                                annot  count
21                           HV 1 Min   9155
27                     Post HV 30 Sec   9136
28                     Post HV 60 Sec   9121
31                     Post HV 90 Sec   9111
22                           HV 2 Min   9105
23                           HV 3 Min   9077
25                             End HV   9036
24                           HV 4 Min   2305
134                        EXPLAIN HV   1507
244                          HV 5 Min   1072
314                    GOOD EFFORT HV    860
649          pt had good effort in HV    403
217                     EXPLAINING HV    197
3785                         HV Begin    117
3789                           HV End    117
3786                          HV 1Min    113
3787                          HV 2Min    112
2700                    DESCRIBING HV     93
2552        pt had great effort in HV     69
971                   WILL ATTEMPT HV     67
5536                     ENCOURAGE HV     62
10102                      explain HV     34
224                                HV     34
500                   GOOD EFFORT HV      34
2503                            NO HV     33
271                   WILL EXPLAIN HV     30
4960         Pt had good effort in HV     29
11124               HV ENCOURAGE TIME     26
1672             3 MIN HV GOOD EFFORT     25
8124                        STRONG HV     24
20577                    CONTINUES HV     23
808                        will do HV     23
4436                  PT CONTINUES HV     21
7127                     HV ENCOURAGE     21
3726             NO HV DUE TO HISTORY     20
8912                      EXPLAIN HV      20
12170                      HV STOPPED     20
1188                   explain HV now     19
5866                     HV CONTINUES     18
8189                 L F-T SLOW IN HV     18
13181                      STOPPED HV     18
1590                 NO HV DUE TO AGE     17
2454                   FAIR EFFORT HV     17
12106                      HV ABORTED     16
1683         PT HAD GOOD EFFORT IN HV     16
181                       WILL TRY HV     15
24230                   STOPS HV HERE     15
2112               TECH EXPLAINING HV     13
6317   GOING TO EXPLAIN HV TO PATIENT     12
9106                      PT STOPS HV     12